---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import Link from "../components/Link.astro";
import H1 from "../components/H1.astro";

import profileImage from "../images/profile.jpg";
import Socials from "../components/Socials.astro";
import { getImage } from "astro:assets";

const speakeasydark = await getImage({
	src: import("../images/speakeasy-dark.svg"),
});
const speakeasylight = await getImage({
	src: import("../images/speakeasy-light.svg"),
});

let posts = await getCollection("posts");
posts = posts
	.filter((p) => !p.data.draft)
	.sort((a, b) => {
		return b.data.publishDate.getTime() - a.data.publishDate.getTime();
	});

const site = Astro.site?.toString().replace(/\/$/, "");
const ogImage = site ? `${site}/og/home.png` : null;
---

<Layout
	title="Blog"
	description="Hi I'm Georges and this is an attempt at writing about what I do and the things I care about."
>
	<meta slot="head" name="og:title" content="Home" />
	<meta slot="head" name="twitter:title" content="Home" />
	<meta slot="head" name="twitter:site" content="@ghaidar0" />
	<meta
		slot="head"
		name="og:description"
		content="Hi I'm Georges and this is an attempt at writing about what I do and the things I care about."
	/>
	<meta slot="head" name="og:type" content="website" />
	{
		ogImage ? (
			<meta slot="head" name="twitter:card" content="summary_large_image" />
		) : null
	}
	{ogImage ? <meta slot="head" property="og:image" content={ogImage} /> : null}

	<main>
		<header
			class="flex flex-col gap-4 mb-6 p-6 border-b border-dotted border-orange-400 text-center md:text-start items-center md:items-start"
		>
			<div>
				<Image class="rounded-full" width={150} src={profileImage} alt="" />
			</div>
			<p class="text-xl">
				Hi there, I'm Georges.<br />
				Australian software engineer based in London.
			</p>
			<div>
				<Socials />
			</div>
			<p class="mt-4">
				Currently shipping code at <a href="https://speakeasy.com">
					<picture>
						<source
							srcset={speakeasydark.src}
							media="(prefers-color-scheme: dark)"
						/>
						<source
							srcset={speakeasylight.src}
							media="(prefers-color-scheme: light)"
						/>
						<img
							class="inline-block h-3 w-auto align-baseline"
							src={speakeasylight.src}
							alt="Speakeasy"
						/>
					</picture>
				</a>
			</p>
		</header>
		<nav class="p-6" aria-labelledby="latest-posts">
			<H1 id="latest-posts">Latest posts</H1>
			<ul class="space-y-12">
				{
					posts.map((post) => {
						const pubDate = new Intl.DateTimeFormat("en-GB", {
							dateStyle: "long",
						}).format(post.data.publishDate);

						return (
							<li>
								<h2 class="text-xl">
									<Link href={`/posts/${post.slug}`}>{post.data.title}</Link>
								</h2>
								<p class="text-sm text-zinc-700 dark:text-zinc-400 mb-4">
									{pubDate}
								</p>
								<p class="text-zinc-600 dark:text-zinc-300">
									{post.data.summary}
								</p>
							</li>
						);
					})
				}
			</ul>
		</nav>
	</main>
</Layout>
